UseTab: Never
IndentWidth: 4

Language: Cpp
AlignConsecutiveAssignments:
  Enabled: true
AccessModifierOffset: 0
IndentAccessModifiers: true
IndentCaseBlocks: true
IndentCaseLabels: true
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
BreakBeforeBraces: Allman


