.edit-svnr-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    margin: auto;
}

.edit-svnr-form label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.edit-svnr-form input,
.edit-svnr-form select {
    padding: 0.5rem;
}

.edit-svnr-form button {
    padding: 0.6rem;
    cursor: pointer;
}
