#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.menu_logo {
  width: 120px;
}

.homepage-header {
  margin: 0 0 1.2rem 0;
  font-size: 4rem;
  font-family: "Catata One", serif;
  font-weight: 400;
}

.homepage-subheader {
  margin: 1rem 0 2rem;
}